/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

/* KaushanScript */
@font-face {
  font-family: "KaushanScript";
  src:
    local("KaushanScript"),
    url("../fonts/KaushanScript/KaushanScript-Regular.ttf");
}





/* Сброс стилей */
html {
  font-size: 15px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
}

/* /Сброс стилей */




/* Переменные */
:root {
  /* Цвета градиента*/
  --color_1: #f38181;
  --color_2: #fce38a;
  --color_3: #eaffd0;
  --color_4: #95e1d3;

  /* Цвет стрелок */
  --color-arrow: #bbbbbb;

  /* Цвет границ блоков  */
  --color-border: #e5e5e5;

  /* Градиент */
  --main-gradient: linear-gradient(var(--color_1), 30%, var(--color_2));
  /* --main-gradient: linear-gradient(var(--color_1), 30%, var(--color_2), 90%, var(--color_3), var(--color_4)); */
  --second-gradient: linear-gradient(var(--color_2), 30%, var(--color_1));
  /* --second-gradient: linear-gradient(var(--color_4), 30%, var(--color_3), 90%, var(--color_2), var(--color_1)); */

  /* Шрифт */
  --title-font-family: "Montserrat";
  --title-font-size: 30px;

  --subtitle-font-family: "KaushanScript";
  --subtitle-font-size: 24px;

  /* цвет текста абзацев */
  --color-p: #999;
}

/* /Переменные */




body {
  background-color: white;
  font-family: var(--title-font-family), sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333333;
  position: relative;

}

p {
  color: var(--color-p);
}

hr {
  border: none;
  height: 1px;
  background: #e5e5e5;
}


/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.header {
  width: 100%;
  position: absolute;
  padding-top: 30px;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 15px;
  z-index: 10;
}

/* Logo */
.header__logo {
  font-size: 30px;
  font-weight: bold;
}

/* Nav */
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.nav__list {
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav__link:hover,
.nav__link_active {
  color: yellow;
}

.nav__link::after {
  content: '';
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  transition: all 0.5s linear;
}

.nav__link:hover:after,
.nav__link_active:after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: yellow;
}

/* /Nav */




/* Intro */
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/intro/bg_intro.jpg") center no-repeat;
  background-size: cover;
}

/* Заливка градиентом */
.intro::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--main-gradient);
  opacity: 0.87;
}

.intro__wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}

.intro__inner {
  position: relative;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.intro__subtitle {
  margin-bottom: 25px;
  font-family: var(--subtitle-font-family), serif;
  font-size: 72px;
}

.intro__title {
  font-family: var(--title-font-family), serif;
  font-size: 150px;
  text-transform: uppercase;
  line-height: 1;
}

/* полоска после заголовка */
.intro__title::after {
  content: "";
  display: block;
  /* top: 450px; */
  height: 3px;
  width: 60px;
  margin: 60px auto 0;
  background-color: white;
}


/* Button */
.btn {
  display: inline-block;
  padding: 10px 30px;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  transition: all 0.2s linear;
}

.btn:hover {
  cursor: pointer;
  border: 3px solid;
  color: var(--color_1);
  border-image: var(--main-gradient);
  border-image-slice: 1;
  background:
    linear-gradient(45deg, #f3818100 48%, #f3818134 50%, #f3818100 52%),
    linear-gradient(-45deg, #f3818100 48%, #f3818134 50%, #f3818100 52%);
  background-size: 6px 6px;
}

.btn:active {
  border: 3px solid;
  color: var(--color_1);
  border-color: var(--color_4);
  border-image: var(--second-gradient);
  border-image-slice: 1;
  background:
    linear-gradient(45deg, #f3818100 48%, #95e1d342 50%, #f3818100 52%),
    linear-gradient(-45deg, #f3818100 48%, #95e1d342 50%, #f3818100 52%);
  background-size: 6px 6px;
  opacity: 0.9;
}

.btm__learnButton {
  margin-top: 60px;
}

/* /Button */




/* Slider */
.slider {
  display: flex;
  /* margin-top: 150px; */
  justify-content: space-between;
}

.slider__item {
  position: relative;
  width: 23%;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  opacity: 0.6;
  transition: all 0.3s linear;
}

.slider__item:hover {
  cursor: pointer;
  color: var(--color_1);
  opacity: 1;
}

.slider__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3rem;
  width: 100%;
  height: 3px;
  background: white;
  transition: all 0.3s linear;
  z-index: 0;
}

.slider__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3rem;
  width: 0;
  height: 3px;
  background: white;
  transition: all 0.3s linear;
  opacity: 0;
  z-index: 1;
}

.slider__item:hover::before {
  width: 100%;
  cursor: pointer;
  background: var(--color_1);
  opacity: 1;
}

.slider__item_active {
  opacity: 1;
}

.slider__item_active::after {
  background: linear-gradient(to right, var(--color_1) 40%, white 40% 70%);
}

.slider__item__digit {
  font-size: 24px;
  font-weight: bold;
}

/* /Slider */




/*  Main */

/* Секция с фото и текстом */
/* Заголовки и линия */
.section {
  padding: 80px 0;
  text-align: center;
  background: white;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
}

/* заголовок */
.section__title {
  position: relative;
  font-family: var(--title-font-family), serif;
  font-size: var(--title-font-size);
  text-transform: uppercase;
}

/* линия под заголовком */
.section__title:after {
  /* position: absolute; */
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  margin: 2rem auto;
  background: var(--color_1);
}

/* подзаголовок */
.section__subtitle {
  position: relative;
  font-family: var(--subtitle-font-family), serif;
  font-size: var(--subtitle-font-size);
}

/* Фото */
.section__foto {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  /* gap: 2rem; */
}

.foto__item {
  position: relative;
  background: var(--color_4);
}

.foto__item:hover {
  cursor: pointer;
}

.foto__item:hover .item__img img {
  opacity: 0.1;
}

/* Сдвинуть картинку при наведении */
.foto__item:hover .item__img {
  transform: translate(-10px, -10px);
}

.item__img img {
  display: block;
  transition: opacity 0.1s linear;
}

.item__img {
  transition: transform 0.3s linear;
  background: linear-gradient(var(--color_1), 70%, var(--color_2));
}

/* блок текста с иконкой на фото  */
.item__content {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.item__text {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

/* иконка над текстом */
.item__icon {
  width: 40px;
  height: 40px;
  fill: white;
}

.foto__item:hover .item__content {
  opacity: 1;
}

/* .Секция с фото и текстом */




/* Статистика */
.statistic__section {
  background-color: var(--color_4);

}

.infoNum {
  display: flex;
  justify-content: center;
  width: 100%;
}

.infoNum__item {
  /* width: 15%; */
  flex: 1 1 0;
  padding: 70px 25px;
  border-right: solid 1px rgba(255, 255, 255, 0.3);
  text-align: center;
  text-transform: uppercase;
}

.infoNum__item:first-child {
  border-left: solid 1px rgba(255, 255, 255, 0.3);
}

.infoNum__num {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: bold;
  line-height: 1;
  color: white;
}

.infoNum__text {
  font-size: 14px;
  color: white;

}

/* /Статистика */



/* services */
.services__block {
  display: flex;
  gap: 30px 50px;
  flex-wrap: wrap;
  padding: 50px 0;
  margin: 0 30px;
}

.services__item {
  display: flex;
  flex: 1 1 0;
  min-width: 250px;
}

.services__icon {
  display: block;
}

.services__svgIcon {
  width: 40px;
  height: 40px;
  fill: var(--color_4);
}

.services__content {
  margin-left: 25px;
  text-align: left;
}

.content__header {
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

.content__text {}

/* /.services */




/* uniqueDesign */
.uniqueDesign {
  position: relative;
  padding-bottom: 0;
  background-color: white;
  margin-bottom: 40px;
}

.uniqueDesign::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../images/devices/bg__design.jpg") center no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.uniqueDesign__devices {
  display: flex;
  justify-content: center;

}

.uniqueDesign__ipad {
  position: relative;

}

.uniqueDesign__iphone {
  position: absolute;
  left: 60%;
  bottom: -14%;
}

/* ./uniqueDesign */




/* whatWeDo */
.wedo {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-left: 15px;
}

.wedo__foto {}

/* Аккордеон */
.wedo__accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion__item {
  border: var(--color-border) solid 1px;
}

.accordion__header {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.services__svgIcon {
  margin: 15px;
}

.accordion__title {
  margin-right: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Стрелка откр/закр инфо */
.accordion__arrow {
  margin-right: 25px;
  margin-left: auto;
  margin-top: -5px;
  height: 20px;
  width: 20px;
  border-top: var(--color-arrow) solid 2px;
  border-left: var(--color-arrow) solid 2px;
  transform: rotate(-135deg);
}

.accordion__arrow--active {
  transform: rotate(45deg);
  margin-top: 10px;
}

.accordion__content {
  position: relative;
  height: 0;
  padding: 0;
  text-align: left;
  font-style: italic;
  opacity: 0;
  z-index: -1;
}

.accordion__content--active {
  height: 100%;
  padding: 15px 20px;
  border-top: var(--color-border) solid 1px;
  z-index: 0;
  opacity: 1;
}

/* /.Аккордеон */
/* /.whatWeDo */

/* Отзывы */
.section--gray {
  background-color: #f8f8f8;
}


.review {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review__arrow {
  height: 10px;
  width: 10px;
  padding: 10px;
  border-top: var(--color-arrow) solid 2px;
  border-left: var(--color-arrow) solid 2px;

}

.review__arrow--left {
  margin-left: 23px;
  transform: rotate(-45deg);
}

.review__arrow--right {
  margin-right: 23px;
  transform: rotate(135deg);
}

.review__item {
  display: flex;
  margin: 0 75px;
}

.review__avatar {
  /* border-radius: 150px;
  border: #95e1d3 solid 2px; */

}

.avatar__img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 150px;
  border: var(--color_4) solid 2px;
}

.review__box {
  margin: 0 60px;
}

.review__text {
  margin-bottom: 15px;
  text-align: left;
  font-size: 24px;
  font-style: italic;
}

.review__autor {
  position: relative;
  text-align: left;

}

/* полоска рядом с автором */
.review__autor::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 3px;
  vertical-align: middle;
  margin-right: 15px;
  background: var(--color_1);
}

/* /.Отзывы */

/* Наша Команда */

/* фото работника */
.img--team {
  height: 31.37rem;
  object-fit: cover;
}


.foto__socialList {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.05rem;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.foto__item:hover .foto__socialList {
  opacity: 1;
}

.socialList__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--color_2);
  transition: background-color 0.3s linear;
}

.socialList__item:hover {
  background-color: var(--color_1);
}

.socialList__item__icon {
  fill: var(--color_1);
  width: 1.25rem;
  height: 1.25rem;
  transition: transform 0.4s linear;

}

.socialList__item:hover .socialList__item__icon {
  fill: white;
  transform: scale(2);
}

.socialList__item__link {
  /* display: block; */


  /* margin-top: 0.375rem; */

}



/* /.Наша Команда */



/* Логотипы */
.logoItems {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0 10px;
}

.logo__img {
  height: 130px;
}


/* имя под фото */
.info__name {
  margin-top: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1;
}

.info__position {
  margin-top: 15px;
  font-weight: normal;
  font-style: italic;
  text-transform: capitalize;
  line-height: 1;
  color: var(--color-p);
}


/* /.Логотипы */
/*  /Main */